.wrapper {
    width: 100vw;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border: 1px soild green;
}

.cards {
    display: grid;
    grid-template: 1 / 1;
    z-index: 10;
    --card-animation-duration: 0.6s;
    transition: transform 0.2s cubic-bezier(0.5, 0, 0.2, 1);
    transform: rotate(var(--card-deck-rotation));
}

.card {
    grid-area: 1 / 1;
    box-shadow: 0 0 30px transparentize(black, 0.8);
    --offset: calc(var(--angle) / (var(--length) * 0.95));
}
.card:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.card img {
    transform-origin: 0% 125%;
    /*   transform: rotate(
        calc((var(--angle) / 2 * -1) + (var(--offset) * var(--index)))
    ); */
    transform: translateX(calc((50px * var(--index))));

    transition: transform var(--card-animation-duration)
        cubic-bezier(0.5, 0, 0.2, 1);
}

.card[data-selected="true"] img {
    transform: translateX(calc(5px * var(--index))) translateY(-50px)
        rotate(calc((var(--angle) / 2 * -1) + (var(--offset) * var(--index))));
}
